*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Baskerville;
   
}

.con{
    width: 100%;
    height: 100vh;
}
.con .big-frame{
    background:linear-gradient(90deg, #181818 10%, hsla(0, 0%, 9%, .98) 20%, hsla(0, 0%, 9%, .97) 25%, hsla(0, 0%, 9%, .95) 35%, hsla(0, 0%, 9%, .94) 40%, hsla(0, 0%, 9%, .92) 45%, hsla(0, 0%, 9%, .9) 50%, hsla(0, 0%, 9%, .87) 55%, hsla(0, 0%, 9%, .82) 60%, hsla(0, 0%, 9%, .75) 65%, hsla(0, 0%, 9%, .63) 70%, hsla(0, 0%, 9%, .45) 75%, hsla(0, 0%, 9%, .27) 80%, hsla(0, 0%, 9%, .15) 85%, hsla(0, 0%, 9%, .08) 90%, hsla(0, 0%, 9%, .03) 95%, hsla(0, 0%, 9%, 0)) ,url('frame1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position:static;
    
}
.big-frame h1{
    color: white;
    text-transform: capitalize;
    padding: 90px 0px 0px 150px;
    font-size: 40px;
    font-family: "Merriweather";
    position:static;
}
.big-frame h3{
    color: white;
    text-transform: capitalize;
    padding: 0px 0px 0px 150px;
    font-family: "Open Sans";
    position:static;

    
}
.big-frame p{

    color: white;
    padding: 4px 0px 0px 150px;
    font-family: "Open Sans";
    position:static;
}
.big-frame-btns{

    display: flex;
    padding: 18px 0px 0px 150px;
    position:static;
    
}
.big-fram-button1 {
    width: 150px;
    height: 25px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 3px;
}
.big-fram-button1:hover{
    background-color: transparent;
    border: 1px solid white;
}
.big-fram-button2 {
    width: 150px;
    height: 25px;
    background-color: transparent;
    border: 1px solid white;
    
   
    color: white;
    border-radius: 3px;
    margin-left: 10px;
}
.big-fram-button2:hover{
    background-color: rgb(37, 208, 188);
    border: none;

}
.symbols-list{

    margin: 50px 150px 0px 150px;
    display: flex;
    justify-content: space-between;
}
.symbols-list i{
    
    background-color: yellow;
    width: 50px;
    text-align: center;
    line-height: 40px;
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0px 4px 5px 0px gray;
}
.symbols{
   display: flex;
   justify-content: space-around;
    
}
.symbol{

    width: 150px;
    padding: 20px;
    margin: 10px 0 0 20px;
    
 
   
}
.symbol i{

    background-color: yellow;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 100%;
    box-shadow: 0 4px 4px 0 gray;
    cursor: pointer;
}
.symbol p{
    font-size: 20px;
}
.product-1{

    background-color: black;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    font-style:normal;
    font-family: serif;
    
}
.card-1{

    width: 270px;
    height: 350px;
   box-shadow: 0px 2px 6px 0px grey;
   margin:30px 40px 0px 40px;
   
  
   

}
.card-1-img{
    
    height: 50%;
    background-image: url(pexels-algrey-3705529.jpg);
    background-repeat: no-repeat;
    background-position: cneter center;
    background-size: cover;
    
   
    

}
.card-1-txt{
    width: 100%;
    height: 25%;
    text-align: center;
    color: black;
}
.card-1-txt-icons{
    color: orange;
    text-align: center;
}
.card-1-txt-buttons {
    background-color: red;
    color: white;
   
    width: 100%;
    height: 35%;
    

  
}
.card-1-txt-buttons h3 a{
    text-decoration: none;
    color: white;
    

    text-align: center;
}
.products-card{
    display: flex;
   
}
